/************ TUTTO *****/
* {
	box-sizing: border-box;
}

html {
	font-size: 62.5%;
}


body {
	font-family: 'Ubuntu', sans-serif;
	font-size: 1.6rem;
}


a {
	text-decoration: none;
	font-size: 1.4rem;
	color: #000;
}



.container {
	max-width: 900px;
	margin: 0 auto;
	padding: 0 15px;
}

.clearfix::after {
	content: "";
	clear: both;
	display: table;
}

.active {
	background: #ab3030e6;
	border-radius: 3px;
}

img {
	width: 100%;
}

.title {
	font-size: 2.2rem;
}

main {
	min-height: calc(100vh - 138.5px - 104px);
}


.hr-scroll{
	z-index: 10000;
	color: #8e433e;
	position: fixed;
	border: 3px solid;
	opacity: 1;
	bottom: 0;
}


/************** NAVBAR ***********/

.main-header{
  width: 100%;
  height: 87vh;
  background: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url(../immagini/backroundportflodio1.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.home{
	background-color: #d15555d2;
	transition: all 1s;
	
}

.is-sticky .home{
	background-color: transparent;
	transition: all 0.3s;
}

.logo{
	width: 70px;
    box-shadow: 0 4px 8px 0 rgba(242, 36, 36, 0.411), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	animation: logo 2s ;
	border-radius: 50% 0;
	z-index: 1000;
	opacity: 0.8;
}

#head{
	transition: all 0.3s;
	height: 100%;
	display: flex;
	align-items: flex-end;
	
}



.navbar{
	max-width: 90%;
	transition: all 0.2s;
	margin-left: 5%;
	height: 150px;
	justify-content: space-between;
	padding-top: 0px;
}



.ull{
	display: flex;
	flex-wrap: wrap;
	list-style-type: none;
	
}


#liDiUl{
	display: flex;
	flex-wrap: wrap;
	align-items: flex-end;
}

.is-sticky .navbar{
	max-width: 90%;
	box-shadow: 0 4px 8px 0 rgba(59, 50, 43, 0.789);
	transition: 0.3s;
	background-color: /*#bb3a3ae8*/ rgba(209, 52, 52, 0.888);
	border-radius: 25px;
	height:70px;
	transform: translateY(10px);
	
}

.is-sticky .logo{
	width: 50px;
	transition: all 0.2s;
}

.is-sticky #head{
	padding-left: 20px;
	transition: 0.2s;
}



nav ul li a, h2{
	list-style-type: none;
	display: inline-block;
	padding: 10px 20px;
}

nav ul li a, h2{
	color: white;
	text-decoration:none;
	font-weight: bolder;
	font-size: 16px;
	font-family: 'Ubuntu', sans-serif;	
}


nav ul li:hover{
	transform: scale(1.2);
	transition: 0.3s;
}



/*morista*/
.nav h2{
	font-size: 23px;
	color: red;
}


span{
	color: white;
}

nav ul li a:hover{
	color: red;
	transition: 0.2s;
	cursor: pointer;
}


.morista{
	color: red;
	font-weight: bold;
	font-size: larger;
}

/*telefono*/
.navLinee{
	display: none;
}

.ulTelefono{
	display: none;
	
}

.logo:hover{
  opacity: 1;
  transition: 0.2s;

}

/*******/

#desciption{
	height: 80%;
	width: 80%;
}

.descrizione{
	width: 100%; height: 80%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	transition: all 0.5s;
}

#font-morista{
	width: 40px;
	
}

.descrizione h1{
	margin: 0 auto;
	transition: all;
	animation: intro 0.8s ;
	font-weight: bolder;
    font-size: 220%;
}

.descrizione h2{
	margin: 0 auto;
	transition: all;
	animation: intro 0.8s;
	font-weight: bolder;
    font-size: 150%;
}

.bottoni{
	justify-content: center;

}

.bottonecv{
	cursor: pointer;
	font: bold 12px Arial, Helvetica, sans-serif;
	color: #fff;
	padding: 10px 10px;
	border: solid 1px #392b36;
	background: #db5353e7;
	border-radius: 5px;
	-moz-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
	-webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
	box-shadow: 0 1px 3px rgba(0,0,0,0.5);
}
.bottonecv:hover{
	box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
	transition: 0.3s;
	transform: scale(1.1);
}



@keyframes logo{
	0%{
		border-radius: 30% 0;
		transform: rotate(0deg);
   
	   }
   
	   50%{
		   border-radius: 0 50%;
	   }
   
   
	   100%{
		 border-radius: 50% 0;
		 transform: rotate(359deg);	 
	   
	   }
}

@keyframes rotation {
	from {
	  transform: rotate(0deg);
	}
	to {
	  transform: rotate(359deg);
	}
  }

@keyframes morista{
	0%{
     opacity: 0;
	 transform: translate(-50px);

	}
	100%{
    opacity: 1;
	transform: all;
    transform: translate(0);
	}
}

@keyframes intro{
	from{
     
	 opacity: 0;
	}
	to{
      transform: translateX(0);
	  opacity: 1;
	}
}



/**************************
******** ABOUT *****/
#aboutsection{
	margin-top: 40px;
	margin-bottom: 30px;

}

#aboutme{
	text-align: center;
	font-size: 40px;
}

#titleEx2{
	font-size: 40px;
}

.ezioHr{
	display: none;
}

.bottoneWork {
	width: 35%;
	display: inline-block;
	padding: 15px 25px;
	cursor: pointer;
	text-align: center;	
	text-decoration: none;
	outline: none;
	color: #fff;
	background-color: #c66a5cce;
	border: none;
	border-radius: 15px;
	box-shadow: 0 9px #999;
  }
  
  .bottoneWork:hover {
	background-color: #8e433e;
	transition: 0.2s;
}
  
  .bottoneWork:active {
	background-color: #ff0000c1;
	box-shadow: 0 5px #666;
	transform: translateY(4px);
  }


  /*****************************s
        WORKS 
		***********/
.checkMyW{
 font-weight: bolder;
 font-size: xx-large;
}

#workProject{
	height: 100%;
}

#workProject, #musicProject{
	display: flex;
	justify-content: space-between;
	padding-top: 60px;
}

#musicProject{
	max-width: 80%;
}

#containerBottoni{
	width: 75%;
}

.logoWork{
  padding: 5px;
}

.immagineWork{
	border: 1px solid #BFBFBF;
	box-shadow: 10px 10px 5px #aaaaaa;
	width: 100%;
	margin: 5px;
	max-height: 100%;
 }

 .immagineMusic{
	border: 1px solid #BFBFBF;
	box-shadow: 10px 10px 5px #aaaaaa;
	width: 50%;
	margin: 5px;
 }

.immagineWork:nth-child(2){
	transition-delay: 200ms;
 }
 .immagineWork:nth-child(3){
	 transition-delay: 400ms;
 }
 .immagineWork:nth-child(4){
	 transition-delay: 600ms;
 }


 .immagineMusic:nth-child(2){
	transition-delay: 200ms;
 }
 .immagineMusic:nth-child(3){
	 transition-delay: 400ms;
 }
 .immagineMusic:nth-child(4){
	 transition-delay: 600ms;
 }


 .immagineWork:hover, .immagineMusic:hover{
	transform: scale(1.1);
	box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
	transition: 0.1s;
	cursor: pointer;
 }

 /**** FULL STACK*/

 #full-stack{
	display: flex;
	margin-top: 20px;
	height: 400px;
 }

 .full-stack-foto img{
	width: 150px;
	margin-top: 30%;
	box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
	border-radius: 7px;

 }

 #full-stack h1{
	font-size: 28px;
 }

 .es-foto2{
	visibility: hidden;
 }


/*********************************
***** CONTATTI *****************/

.contactme{
	padding-top: 30px;
	background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url(../immagini/backContact.jpg) ;
	background-attachment: fixed;
	width: 100%;
}

.form-group{
	color: #ffffff
}

#formbtn{
   padding: 15px;
   margin-top: 10px;
   width: 100%;
   margin-bottom: 15px;
}

.contactme h1{
	font-size: 20px;
	color: aliceblue;
	text-align: center;
	text-decoration: overline;
	font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

}

/** FOTO CV E FORM */
.contact{
	display: flex;
	
}

.foto-cv{
	max-width: 30%;
	margin: auto auto;
	margin-right: 15px;
}

.foto-cv img{
	width: 80%;
	box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px, rgb(51, 51, 51) 0px 0px 0px 3px;
}

.form{
	width: 90%;
}



/*********************************
***** CERTIFICATI *****************/

.desciption a{
	font-size: 18px;
	text-decoration: underline;
    
}

.desciption a:hover{
	transform: scale(1.2);
}

.certificati{
 margin: 100px auto;
 z-index: 0;

}


.carousel-slick{
   max-width: 80%;
   margin: 50px auto;
}


.certificato{
	padding: 10px;
	z-index: -20;
}

.certificato:hover{
	transform: scale(1.1);
	box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
	transition: 0.3s;
	cursor: pointer;
}

.slick-prev.slick-arrow{
	color:  #FF3028;
}

 /*************************************
               OVERLAY FOTO
  **************************/
  #overlay {
    background: rgba(63, 63, 63, 0.7);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
	visibility: hidden;
    text-align: center;
    cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center;
	
  }

  #overlay img {
    width: 70%;
    
    align-items: center;
    justify-content: center;
  }

  #overlayNav{
	width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: none;
	background-color: #000;
	opacity: 0;
  }



/*********************************
********** FOOTER *****************/
footer{
 margin-top: 50px;
  width: 100%;
}

.font{
	width: 20px;
}

.info:hover{
	opacity: 0.9;
	cursor: pointer;
}

.textcv{
	width: 100%;
	text-align: center;
}

.cv{
	font-size: 12px;
}




/**********ANIMATION **********/

.hidden{
	opacity: 0;
	filter: blur(5px);
	transform: translateY(+100%);
	transition: all 0.7s ;
}

.show{
	opacity: 1;
	filter: blur(0);
	transform: translateY(0);
	
}


.showed{
	opacity: 0;
	filter: blur(5px);
	transform: translateX(-100%);
	transition: all 0.5s ;
}

.showFoto{
	opacity: 1;
	filter: blur(0);
	transform: translateX(0);
}


/*** PER NAV */
.hideMenu{
	opacity: 0;
	filter: blur(5px);
	transform: translateX(+150%);
	transition: all 0.25s ;
}

.showNav{
	opacity: 1;
	filter: blur(0);
	transform: translateX(0);
}






